/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

.no_data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.no_data>img {
    width: 50%;
    object-fit: contain;
}