<div class="my-container">
    <div class="maps">
        <maps [data]="partners"></maps>
    </div>
    <div class="partners py-3" [ngClass]="{'active': isSideOpen}">

        <!-- Search -->
        <div class="search-container px-3">
            <search (onSearch)="searchPartnersWithin($event)"></search>
        </div>

        <div class="partner-container mt-3">
            <!-- Partners -->
            <partners *ngIf="partners; else empty" [partners]="partners"></partners>

            <!-- If no partners, show this template -->
            <ng-template #empty>
                <div class="w-100 px-3 no_data">
                    <img src="assets/icons/no_data.svg" class="my-3" alt="No Data">
                    <h4 class="text-muted mt-4">No Partner within that range</h4>
                </div>
            </ng-template>
        </div>

        <!-- Toggle button for sidebar -->
        <div class="toggle" (click)="onToggle()">
            <i class="fas fa-chevron-{{isSideOpen? 'left' : 'right'}}"></i>
        </div>
    </div>
</div>