<div class="my-container">
    <div class="maps">
        <maps [data]="partners"></maps>
    </div>
    <div class="partners py-3" [ngClass]="{'active': isSideOpen}">

        <!-- Search -->
        <div class="search-container px-3">
            <search (onSearch)="searchPartnersWithin($event)"></search>
        </div>

        <div class="partner-container mt-3">
            <!-- Partners -->
            <partners *ngIf="partners; else empty" [partners]="partners"></partners>

            <!-- If no partners, show this template -->
            <ng-template #empty>
                <h1>Empty</h1>
            </ng-template>
        </div>

        <!-- Toggle button for sidebar -->
        <div class="toggle" (click)="onToggle()">
            <i class="fas fa-chevron-{{isSideOpen? 'left' : 'right'}}"></i>
        </div>
    </div>
</div>