<google-map [center]="mapCenter" [options]="options" width="100%" height="100%">
    <map-marker [position]="starbucksMarker.coordinates" [icon]="starbucksMarker.icon" [options]="markerOptions">
    </map-marker>
    <map-circle [options]="circleOptions"></map-circle>
    <div *ngFor="let d of data">
        <map-marker #marker="mapMarker" *ngFor="let o of d.offices" [position]="getCoordinates(o.coordinates)"
            [icon]="getMarkerIconPath(o)" [options]="markerOptions" (mapClick)="window.open(marker);">
            <map-info-window #window="mapInfoWindow">
                <partner [partner]="d" [officeMarker]="o" [hideBorders]="true"></partner>
            </map-info-window>
        </map-marker>
    </div>
</google-map>